<div class="container">
  <table class="table table-striped">
    <thead> 
      <tr>
        <td>#</td>
        <td>Kundenavn</td>
        <td>Adresse</td>
        <td>Postnummer</td>
        <td>Poststed</td>
        <td>Telefonnr.</td> 
      </tr>   
    </thead>
    <tbody>
      <tr ng-click="chooseMeasurement($index)" ng-repeat="measurement in measurements">
        <td ng-bind="$index + 1"></td>
        <td ng-bind="measurement.fields.customfield_10301"></td>
        <td ng-bind="measurement.fields.customfield_10302"></td>
        <td ng-bind="measurement.fields.customfield_10303"></td>
        <td ng-bind="measurement.fields.customfield_10304"></td>
        <td ng-bind="measurement.fields.customfield_10305"></td>
      </tr>  
    </tbody>
  </table>
</div>
